:root {
  --max-width: 768px;
  --nav-height: 4rem;
  --header-margin: 4rem;
  --footer-height: 4rem;
  --footer-margin: 4rem;

  --section-padding: 2rem 0;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.3125rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2.652rem;
  --font-size-4xl: 4rem;

  --body-bg: #fdfdfe;
  --body-text: #333333;
  --link-bg: #ceffda;
  --link-bg--dark: #034933;
  --link-text: #057c57;
  --playground-bg: #ffffff;

  --border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #123123;
    --body-text: #dddddd;
    --link-bg: #02251a;
    --link-text: #9debb0;
    --playground-bg: #000000;
  }
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: var(--font-size-lg);
  line-height: 1.5;
  color: var(--body-text);
  -webkit-font-smoothing: antialiased;
  background-color: var(--body-bg);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

input, progress {
  accent-color: var(--link-text);
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
  line-height: 1.2;
}

h1, h2, h3 {
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2.45rem;
}

p {
  margin-bottom: 1.5em;
}

:is(ul, ol) + p {
  margin-bottom: 1.5em;
}

li {
  margin-bottom: 0.5em;
}

p:has(+ ul) {
  margin-bottom: 1em;
}

a {
  color: var(--link-text);
  transition: all 0.2s ease;
}

a:hover,
a:focus-visible,
a.active {
  outline: none;
  background-color: var(--link-bg);
}

#root, #__next {
  isolation: isolate;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
